Cython==0.22.1
Keras==0.1.1
MetaMindApi==1.2
Theano==0.7.0
backports.ssl-match-hostname==3.4.0.2
boto==2.38.0
bz2file==0.98
certifi==2015.04.28
gensim==0.11.1-1
gnureadline==6.3.3
h5py==2.5.0
ipdb==0.8.1
ipython==3.1.0
numpy==1.9.2
requests==2.7.0
scikit-learn==0.16.1
scipy==0.15.1
simplejson==3.7.3
six==1.9.0
smart-open==1.2.1
tornado==4.2
wsgiref==0.1.2
